.chat{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    border-bottom: 1pc  solid #fafafa;
}
.chat__details{
    flex:1;
}

.chat_details>p{
    color:gray;
}
.chat__image{
margin-right: 20px;
}
.chat__timestamp{
    color:lightgray;
}